body {
	background-color: #333;
	font-family: cursive;}

@media (min-width: 500px) {
        .Q {
            font-size: 30px;
            width: 400px;}
        .choice {
			width: 400px;
			font-size: 20px}
		.start {
			width: 150px;
			font-size: 20px;}
		.switch {
			width: 150px;}
		.two-btns {
			width: 310px;}}

@media (max-width: 499px) {
        .Q {
            font-size: 20px;
            width: 300px;}
        .choice {
			width: 300px;
			font-size: 16px}
		.start {
			width: 100px;
			font-size: 16px;}
		.switch {
			width: 100px;}
		.two-btns {
			width: 210px;}}

img {
	width: 80px;}

img:hover {
	margin-top: -10px}

.Q {
	color: #DDD;
	font-weight: bold;
	text-align: center;
	margin: 50px auto 50px;}

.lang {
	margin: auto;

	width: 100px;
	height: 100px;}

.langs {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;}

.switch {
	margin: 20px auto;}

.start {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	transition: 0.25s}

.start:hover {
	background-color: teal;
	color: white;}

.list {
	width: 500px;
	margin: 50px auto;}

li {
	list-style-type:none;
 	margin:0;
 	padding:0}

.choice {
	background-color: lightblue;
	color: teal;
	transition: 0.5s}

.choice:hover {
	background-color: lightpink;
	margin: 0px 5px;}

.start, .choice {
	height: 50px;
	border-radius: 20px;
	font-weight: bold;}

.two-btns {
	display: flex;
	margin: auto;
}