body {
    background-color: #333;
}
table {
        margin: 50px auto;
        border: 2px solid black;
        border-collapse: collapse;
        /*width: 50%;*/
        background-color: lightgray;
    }
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: lightgray;
}
.text {
    text-align: left
}
td {
    /*display: none;*/
    vertical-align: text-top;
    font-size: 12px
}
td:hover {
    background-color: white;
}
.python {
    /*display: block;*/
}
img {
    width: 100px;
    height: 70px;
    margin-bottom: 20px;
    transition: 1s;
}
img:hover {
    width: 200px;
    height: 140px;
}
ul {
    padding-left: 15px;
}
.h {
    font-size: 16px;
    font-weight: bold;
}
h6 {
    font-style: italic;
}