body
{background-color: #333;}
.note 
{color:#DDD; margin-top: 50px; margin-bottom: 5px}
table 
{border: 2px solid black; border-collapse: collapse; background-color: lightgray;}
th, td 
{border: 1px solid black; padding: 5px; text-align: center;}
th 
{background-color: lightgray;}
.text 
{text-align: left}
td 
{vertical-align: text-top; font-size: 12px}
td:hover 
{background-color: white;}
.image 
{width: 100px; height: 70px; margin-bottom: 20px; transition: 1s;}
.image:hover 
{width: 200px; height: 140px; border: 3px solid teal; border-radius: 5px;}
ul 
{padding-left: 15px;}
.h 
{font-size: 16px; font-weight: bold;}
h6 
{font-style: italic;}
.star 
{width:80px;}