body {background-color: #333;}
.card {width: 30rem; margin: 50px auto; padding: 5px;}
.card-subtitle {font-style: italic;}
.blue {color: darkblue;}
.Q {font-family: cursive;}
.title {margin-left: 10px;}
p {line-height: 16px}
.info {margin: 0 5px; padding: 0; text-align: center}
img:hover {margin: 0;}