@media (min-width: 500px) {
	.card {width: 30rem; font-size: 16px}
}
@media (max-width: 499px) {
	.card {width: 20rem; font-size: 14px}
}

body {background-color: #333;}
.card {margin: 50px auto; padding: 5px;}
.card-subtitle {font-style: italic;}
.blue {color: darkblue;}
.Q {font-family: cursive;}
.title {margin-left: 10px;}
p {line-height: 16px}
.info {margin: 0 5px; padding: 0; text-align: center}
img:hover {margin: 0;}